body {
    background-color: mediumpurple;
}

#navbar, .navbar-brand, .nav-item, #about {
    background-color: blueviolet;
    color: white;
}

#photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    border-radius: 50%;
}

#projectCards {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}